<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


  <context:component-scan base-package="org.springframework.context.support.test" />
  <!--<bean id="testService" class="com.amos.study.service.impl.TestServiceImpl" scope="prototype">-->
  <!--<property name="testService1" ref="testService1"/>-->
  <!--</bean>-->
  <!--setter 注入-->
  <!--<bean id="testService1" class="com.amos.study.service.impl.TestServiceImpl1" scope="prototype">-->
  <!--<property name="testService" ref="testService"/>-->
  <!--</bean>-->


  <!--<bean id="test" class="org.springframework.context.support.TestIocImpl">-->
  <!--<property name="name" value="zhangsan"></property>-->
  <!--</bean>-->
  <!--<bean id="test1" class="org.springframework.context.support.TestIocImpl1">-->
  <!--</bean>-->
  <!--<bean id="test3" class="org.springframework.context.support.TestIocImpl3">-->
    <!--&lt;!&ndash;<constructor-arg name="testIocImpl4" ref="test4"/>&ndash;&gt;-->
  <!--</bean>-->

  <!--<bean id="test4" class="org.springframework.context.support.TestIocImpl4" scope="prototype">-->
    <!--<constructor-arg name="testIocImpl3" ref="test3"/>-->
  <!--</bean>-->


  <!--<bean name="testService1" class="com.amos.study.service.impl.TestServiceImpl1">-->
  <!--<property name="name" value="zhangsan"></property>-->
  <!--</bean>-->

  <!--<bean id="testService" class="com.amos.study.service.impl.TestServiceImpl">-->
  <!--</bean>-->

  <!--<bean id="testService1" class="com.amos.study.service.impl.TestServiceImpl1">-->
  <!--</bean>-->


</beans>